@font-face {
  font-family: "Satisfy";
  src: url("../assets/fonts/Satisfy-Regular.eot");
  src:
    url("../assets/fonts/Satisfy-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/Satisfy-Regular.woff2") format("woff2"),
    url("../assets/fonts/Satisfy-Regular.woff") format("woff"),
    url("../assets/fonts/Satisfy-Regular.ttf") format("truetype"),
    url("../assets/fonts/Satisfy-Regular.svg#Satisfy-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-satisfy {
  font-family: "Satisfy", cursive;
}

@font-face {
  font-family: "Oswald";
  src: url("../assets/fonts/Oswald-Regular.eot");
  src:
    url("../assets/fonts/Oswald-Regular.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/Oswald-Regular.woff2") format("woff2"),
    url("../assets/fonts/Oswald-Regular.woff") format("woff"),
    url("../assets/fonts/Oswald-Regular.ttf") format("truetype"),
    url("../assets/fonts/Oswald-Regular.svg#Oswald-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-oswald {
  font-family: "Oswald", sans-serif;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Regular.eot");
  src:
    url("../assets/fonts/Montserrat-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../assets/fonts/Montserrat-Regular.woff") format("woff"),
    url("../assets/fonts/Montserrat-Regular.ttf") format("truetype"),
    url("../assets/fonts/Montserrat-Regular.svg#Montserrat-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

@font-face {
    font-family: 'Playwrite AU TAS';
    src: url('../assets/fonts/PlaywriteAUTAS-Regular.eot');
    src: url('../assets/fonts/PlaywriteAUTAS-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/PlaywriteAUTAS-Regular.woff2') format('woff2'),
        url('../assets/fonts/PlaywriteAUTAS-Regular.woff') format('woff'),
        url('../assets/fonts/PlaywriteAUTAS-Regular.ttf') format('truetype'),
        url('../assets/fonts/PlaywriteAUTAS-Regular.svg#PlaywriteAUTAS-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.font-playwrite {
    font-family: 'Playwrite AU TAS', sans-serif;
}

.bg-default {
  background-color: #004aad !important;
}

.hero-section {
  background-color: rgb(204, 236, 248) !important;
  margin-top: calc(4rem + 24px);
}

.btn {
  --bs-btn-font-family: "Oswald", sans-serif !important;
  letter-spacing: 0.05rem !important;
}



.badge {
  font-size: 14px !important;
}

.navbar-fixed-top {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1020;
}

.navbar-toggler {
  border: none !important;
  --bs-navbar-toggler-padding-y: 0.25rem;
  --bs-navbar-toggler-padding-x: 0.5rem;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:focus-visible {
  border-color: none !important;
  box-shadow: 0 0 0 0.2rem rgb(255, 255, 255) !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23ffffff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.skills-logo {
  height: 120px;
  width: 100%;
  object-fit: contain;
}

.card-move {
  transition: transform 0.3s ease-in-out;
}

.card-move:hover {
  transform: translateY(-0.5rem);
  cursor: default;
}

.f-12 {
  font-size: 12px !important;
}

.project-tools {
  height: 24px;
  width: auto !important;
  object-fit: contain;
}

.card-img-fixed {
  height: 180px;
  object-fit: fill;
}

.rounded-sm {
  border-top-left-radius: 0.375rem !important;
  border-top-right-radius: 0.375rem !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.ds-logo {
  height: 24px;
  width: auto;
  object-fit: contain;
  margin-left: 0.1rem;
}

.education-icon {
  height: 80px;
  width: auto;
  object-fit: contain;
}

.owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  pointer-events: none;
}

.owl-nav button {
  pointer-events: all;
  color: #fff;
  border-radius: 50%;
  padding: 0.5rem 0.7rem;
  font-size: 1.5rem;
  border: none;
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
  color: #fff !important;
  font-size: 1.25rem !important;
}

.owl-dots {
  display: block;
  text-align: center;
  margin-top: 1rem;
}

.owl-dot {
  margin: 0 3px;
  cursor: pointer;
}

.owl-dot span {
  width: 10px;
  height: 10px;
  background: #ffffff4b;
  display: block;
  border-radius: 50%;
}

.owl-dot.active span {
  background: #fff;
}

.form-control:focus {
  border-color: #004aad !important;
}

.footer-social-link {
  transition: transform 0.3s ease-in-out;
}

.footer-social-link:hover {
  transform: scale(1.1);
}

.footer-link {
  position: relative;
  display: inline-block;
}

.footer-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1.25px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.footer-link:hover::after {
  transform: scaleX(1);
}

.hero-section,
#skills,
#projects,
#experience,
#education,
#contact {
  scroll-margin-top: 95px;
}

.animate-on-scroll {
  opacity: 0;
}

.margin-3 {
  margin-bottom: 1rem !important;
}

.sticky-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.sticky-icon:hover {
  transform: scale(1.1);
}

.sticky-icon-bg {
  width: 40px;
  height: 40px;
  object-fit: contain;
  background: #0d9f16;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 5px;
  position: relative;
}

.sticky-icon-bg::after {
  content: '';
  position: absolute;
  bottom: 3px;
  left: 1px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 10px solid #0d9f16;
  transform: rotate(-65deg); /* Rotates the triangle */
}

/* Custom Pulse Animation for button */
@keyframes custom-pulse {
  0% {
    transform: scale(1);
    box-shadow:
      0 0 0 0 rgba(0, 0, 0, 0.22),
      0 0 0 0 rgba(0, 0, 0, 0.16),
      0 0 0 0 rgba(0, 0, 0, 0.1);
  }

  50% {
    transform: scale(1.05);
    box-shadow:
      0 0 0 12px rgba(0, 0, 0, 0),
      0 0 0 24px rgba(0, 0, 0, 0),
      0 0 0 36px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(1);
    box-shadow:
      0 0 0 0 rgba(0, 0, 0, 0),
      0 0 0 0 rgba(0, 0, 0, 0),
      0 0 0 0 rgba(0, 0, 0, 0);
  }
}


.animate-custom-pulse {
  animation: custom-pulse 1.5s infinite ease-in-out;
  border-radius: 2rem;
}

.animate-custom-pulse:hover {
  animation: none;
  transform: scale(1.05);
}

.ls-xs {
  letter-spacing: 0.05rem;
}

.ls-sm {
  letter-spacing: 0.1rem;
}

.ls-md {
  letter-spacing: 0.15rem;
}

.ls-lg {
  letter-spacing: 0.2rem;
}

#mainNavbar .nav-link {
  color: rgba(255,255,255,0.6);
  transition: color 0.3s;
}

#mainNavbar .nav-link.active {
  color: #ffffff;
}



@media (min-width: 320px) {
  .project-card {
    width: 16rem !important;
  }
}

@media (min-width: 768px) {
  .project-card {
    width: 24rem !important;
  }

  .rounded-sm {
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0.375rem !important;
  }

  .owl-nav {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
  }

  .owl-nav .owl-prev,
  .owl-nav .owl-next {
    color: #fff !important;
    font-size: 1.5rem !important;
  }

  .owl-dots {
    display: block !important;
  }

  .mb-md-6 {
    margin-bottom: 4.5rem !important;
  }
}

@media (max-width: 1024px) {
  .animate-mobile {
    animation: fadeInLeft 1s both;
  }
}
